/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


:root {
  --width-main: 696px;
  --font-size: 18px;
  --height-welcome: 323px;
  --h1-welcome: 65px;
  --h2-welcome: 23px;
  --margin-save: 0px;
  --width-save: 335px;
  --height-save: 51px;
  --margin-left-label: 25px;
  --width-dialog-text: 234px;
  --width-dialog-button-close: 293px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.page {
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter-Variable, sans-serif;
  font-variation-settings: "wght" 400;
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1a1a1a;
  background-image:
    repeating-linear-gradient(transparent, #d3d3d3 2px),
    repeating-linear-gradient(90deg, transparent, #d3d3d3 2px),
    linear-gradient(#e7e7e7, #1a1a1a);
  background-size: cover;
}

.dialog {
  border: none;
  outline: 2px solid #000;
  width: 357px;
  height: 193px;
  box-sizing: border-box;
}

.dialog[open] {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "PressStart2P-Regular";
  font-size: 14px;
  top: 50%;
  z-index: 1000;
}

.dialog__close {
  border: none;
  outline: 2px solid #000;
  width: var(--width-dialog-button-close);
  height: 38px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.dialog__text-container {
  display: flex;
  gap: 20px;
}

.dialog__text-container__disketto {
  width: 45px;
}

.dialog__text-container__text {
  line-height: 150%;
  text-transform: uppercase;
  width: var(--width-dialog-text);
}

.main-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--width-main);
  gap: 50px;
}

.card-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: var(--height-welcome);
  background-color: #fff;
  width: var(--width-main);
  margin: 100px 0;
  box-sizing: border-box;
  border: 2px solid #000;
}

.card-welcome-h1 {
  font-family: "PressStart2P-Regular";
  font-size: var(--h1-welcome);
}

.card-welcome-h2 {
  font-family: "PressStart2P-Regular";
  font-size: var(--h2-welcome);
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid #000;
  width: 100%;
  background-color: #fff;
}

.card__ober-img {
  position: relative;
  width: var(--width-main);
  box-sizing: border-box;
}

.card img {
  border-top: 2px solid #000;
  width: 100%;
}

.card__over-img__text {
  font-family: "PressStart2P-Regular";
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: var(--margin-left-label);
  mix-blend-mode: difference;
  color: #fff;
}

.card__title {
  background-color: #fff;
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 6px;
  padding-top: 4px;
}

@supports (font-variation-settings: "wght" 700) {
  .card__title {
    font-variation-settings: "wght" 700;
  }
}

.card__text {
  margin: 25px;
}

.card__epigr {
  margin: 0 25px 25px;
}

.card__container-buttons {
  display: flex;
  gap: 12px;
  width: min-content;
  height: min-content;
  margin: auto 25px 25px auto;
}

.card__icon-button {
  width: min-content;
  height: min-content;
  margin-top: 4px;
  background-color: #fff;
  border: none;
  padding: 0;
}

.card__like-button {
  width: 130px;
  height: 38px;
  background-color: #fff;
  border: none;
  outline: 2px solid #000;
  transition: color 0.5s ease-in-out;
}

.button__text {
  font-family: "PressStart2P-Regular";
  font-size: 14px;
}

.card__icon-size {
  width: 27px;
  height: 24px;
}

.save-button {
  width: var(--width-save);
  height: var(--height-save);
  margin: 0 var(--margin-save) 102px var(--margin-save);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  outline: 2px solid #000;
  transition: box-shadow 0.3s ease;
}

.save-button__disketto {
  width: 21px;
  margin-top: 2px;
}

.save-button__text {
  font-family: "PressStart2P-Regular";
  font-size: 14px;
}

/* градиенты на карточки */
.grad1 {
  filter: saturate(30%);
}

.grad2 {
  filter: saturate(400%);
}

.grad3 {
  filter: hue-rotate(45deg);
}

.grad4 {
  filter: invert(0.8);
}

.grad5 {
  filter: sepia(80%);
}

.grad6 {
  filter: blur(5px);
}

.grad7 {
  filter: hue-rotate(90deg) sepia(20%);
}

@media (max-width: 375px) {
  :root {
    --width-main: 375px;
    --font-size: 18px;
    --height-welcome: 327px;
    --h1-welcome: 49px;
    --h2-welcome: 14px;
    --margin-save: 35px;
    --width-save: 306px;
    --height-save: 80px;
    --margin-left-label: 11px;
    --width-dialog-text: 198px;
    --width-dialog-button-close: 257px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-button__disketto {
    width: 28px;
    margin-top: 2px;
  }
}

.card__like-button:focus,
.save-button:focus,
.dialog__close:focus {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
}

.card__like-button:focus-visible,
.save-button:focus-visible,
.dialog__close:focus-visible {
  outline: 2px solid #000;
}

.card__like-button:hover,
.save-button:hover,
.dialog__close:hover {
  background-color: #000;
  color: #fff;
  transition:
    background-color 0.5s ease-in,
    color 0.3s ease-in;
}

.save-button:hover .save-button__disketto {
  filter: invert(1);
  transition: filter 0.5s ease-in-out;
}
